.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    padding: 24px 12px;
    background: var(--secondary-7);
    width: 80%;
    height: 60%;
  }
}