.activeLocations {
  margin-top: 12px;
}

.post-info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 8px;

  .post {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 70%;
  }
}
