.create-post {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 12px 0;

  .post-form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .style-btns {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }

    .textarea {
      padding: 12px 6px;
      resize: vertical;
      background: white;
      border-radius: 2px;
      color: #000;
      white-space: pre-wrap;
      display: inline-block;
    }

    .btns {
      display: flex;
      justify-content: flex-end;
      gap: 8px;
    }
  }
}
