.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.form-new-character {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.characters {
  margin-top: 12px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 8px;

  .character {
    flex-basis: 15%;
    flex-grow: 1;
    min-width: 200px;
    background: var(--secondary);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 12px 16px;
    box-shadow: 2px 2px 4px 4px var(--background);

    &.active {
      outline: 2px solid var(--accent);
    }

    .imageWrapper {
      background-color: var(--secondary);
      border-radius: 8px;
      height: 256px;
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
    }

    .btns {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }
  }
}

.toggler {
  cursor: pointer;
  box-sizing: border-box;
  width: 40px;
  height: 20px;
  border: 2px solid var(--accent);
  border-radius: 15px;
  padding: 2px;

  .switcher {
    display: none;
  }

  .switcher:checked + .toggle {
    background-color: var(--accent);
  }

  .switcher:checked + .toggle {
    width: 100%;
  }

  .toggle {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: var(--primary);
    transition: width 0.2s ease-in-out;
  }
}
