.create-post {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .create-post-btn {
    background: var(--mainColor);
    border: none;
    cursor: pointer;
    border-radius: 2px;
    padding: 6px 12px;

    &:hover {
      background: wheat;
    }
  }

  .post-form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .textarea {
      padding: 12px 6px;
      resize: vertical;
      background: white;
      border-radius: 2px;
      color: #000;
      white-space: pre-wrap;
      display: inline-block;
    }

    .btns {
      display: flex;
      justify-content: flex-end;
      gap: 8px;

      .send {
        background: var(--mainColor);
        border: none;
        cursor: pointer;
        border-radius: 2px;
        padding: 6px 12px;

        &:hover {
          background: wheat;
        }
      }
    }
  }
}

.style-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  .style-btn {
    background: var(--mainColor);
    border: none;
    cursor: pointer;
    border-radius: 2px;
    padding: 6px 12px;

    &:hover {
      background: wheat;
    }
  }

  .active-style-btn {
    background: wheat;
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
