.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--secondary-5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;

  .side {
    width: 15%;
    height: 100%;
  }

  .content {
    border-radius: 12px;
    width: 70%;
    height: 70%;
    background: var(--secondary);
    box-shadow: 
      10px 10px 10px 1px var(--background), 
      10px -10px 10px 1px var(--background), 
      -10px -10px 10px 1px var(--background), 
      -10px 10px 10px 1px var(--background);
    padding: 12px;
    box-sizing: border-box;
  }
}