.areas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;

  .area {
    background: gray;
    flex-basis: 45%;
    flex-grow: 1;
    padding: 6px;
    border-radius: 8px;

    & > .title {
      margin: 6px 0;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
    }
  }
}
