.post {
  position: relative;
  background: var(--secondary);
  border-radius: 12px;
  overflow: clip;
  display: flex;
  flex-direction: column;
  gap: 6px;
  box-shadow: 2px 2px 4px 4px var(--background);

  .top {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    background: var(--secondary);
    padding: 6px;
    height: 24px;
    z-index: 1;
    box-shadow: 2px 2px 4px 4px var(--background);
  }

  .post-info {
    padding: 6px;
    display: flex;
    gap: 8px;

    .character {
      position: sticky;
      top: 42px;
      width: 12em;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      height: 100%;
    }

    .text {
      word-break: break-word;
      line-height: 24px;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.4px;
    }
  }
}

.imageWrapper {
  background-color: rgba(105, 105, 105, 0.5);
  border-radius: 8px;
  height: 256px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 4px 4px var(--background);
}
